@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url(../../fonts/segoeUI/SegoeUI-Light.ttf) format("truetype");
  src: url(../../fonts/segoeUI/SegoeUI-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Regular";
  src: url(../../fonts/muller/MullerRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Medium";
  src: url(../../fonts/muller/MullerMedium.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Light";
  src: url(../../fonts/muller/MullerLight.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Ultra Light";
  src: url(../../fonts/muller/MullerUltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Bold";
  src: url(../../fonts/muller/MullerBold.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.top_header {
  background-color: #515151;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(81, 81, 81, 0.3);
          box-shadow: 0px 10px 25px 0px rgba(81, 81, 81, 0.3);
  margin-bottom: 41px;
}

.top_header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 83px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top_header .menu .menu_item {
  font-size: 14px;
  font-family: "Segoe UI";
  color: rgba(255, 255, 255, 0.302);
  line-height: 1.2;
  text-align: right;
}

.top_header .menu .menu_dot {
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.302);
}

.top_header .menu .menu_item:hover {
  color: white;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  position: relative;
}

.info .info_item_logo {
  width: 68px;
}

.info .info_item_logo_img {
  width: 68px;
  height: 141px;
  position: absolute;
  top: -75px;
  left: 0;
}

.info .info_item_title {
  font-size: 26px;
  font-family: "Muller Regular";
  color: #4e4e4e;
  line-height: 1.2;
  text-align: right;
}

.info .info_item_subtitle {
  font-size: 14px;
  font-family: "Segoe UI";
  color: #8d8f8c;
  line-height: 1.2;
  text-align: right;
}

.info .info_item_search {
  height: 100%;
  width: 292px;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(167, 167, 167, 0.2);
          box-shadow: 0px 10px 25px 0px rgba(167, 167, 167, 0.2);
}

.info .info_item_search .input {
  font-size: 14px;
  font-family: "Muller Regular";
  color: #7f7f7f;
  position: absolute;
  top: 17px;
  left: 28px;
}

.info .info_item_search input::-webkit-input-placeholder {
  line-height: normal !important;
}

.info .info_item_search .search {
  position: absolute;
  top: 15px;
  right: 17px;
  width: 18px;
  height: 18px;
}

.info .info_item_search:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #40ced2;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
}

.info .info_item_city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info .info_item_city .info_item_city_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .info_item_city .info_item_city_box .info_item_city_text {
  font-size: 12px;
  font-family: "Segoe UI";
  color: #a6a6a6;
  line-height: 1.2;
  margin-right: 6px;
  margin-bottom: 4px;
}

.info .info_item_city .info_item_city_box .info_item_city_line {
  height: 1px;
  width: 100px;
  background-color: #878787;
  opacity: 0.2;
}

.info .info_item_city .info_item_city_box .info_item_city_select {
  font-size: 14px;
  font-family: "Segoe UI";
  color: #7f7f7f;
  line-height: 1.2;
  width: 100%;
}

.info .info_item_city .pointer {
  width: 14px;
  height: 19px;
  margin-right: 17px;
}

.info .info_item_phone {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 10px;
}

.info .info_item_phone .phone {
  margin-right: 9px;
  width: 10px;
  height: 29px;
}

.info .info_item_phone .info_item_phone_text {
  font-size: 20px;
  font-family: "Muller Ultra Light";
  color: #484747;
  margin-right: 10px;
}

.info .info_item_phone .info_item_phone_text span {
  font-size: 40px;
  font-family: "Muller Ultra Light";
  color: #484747;
}

.info .info_item_basket {
  width: 68px;
  position: relative;
}

.info .info_item_basket .info_item_basket_back {
  background-color: #40ced2;
  border-radius: 0 0 5px 5px;
  width: 68px;
  height: 122px;
  position: absolute;
  top: -107px;
}

.info .info_item_basket .info_item_basket_back .info_item_basket_text {
  font-size: 12px;
  font-family: "Segoe UI";
  color: white;
  line-height: 1.2;
  text-align: left;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  text-align: right;
  margin-left: -30px;
}

.info .info_item_basket .info_item_basket_back .info_item_basket_img {
  position: absolute;
  top: 84px;
  left: 15px;
}
/*# sourceMappingURL=style.css.map */
/*----------------FOOTER-------------------------------------------------------------------------*/
.footer {
  width: 100%;
  height: 167px;
  background: #515151;;
}
.fmenu {
  padding: 29px 0px 10px 0px;
}
.fmenu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fmenu__link {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.3;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.fmenu__link:hover {
  color: #fff;
  opacity: 0.9;
}
.menu_dot {
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.302);
}

.footer__contacts {
  position: relative;
}
.contacts__row {
  min-height: 100%;
  display: flex;
  padding: 40px 0px 0px 0px;
}

.contacts__list {
  flex: 1 1 auto;
}
.contacts__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.contacts__logo {
  position: absolute;
  left: 0;
  top: 0;
}
.contacts__info {
  margin: 0px 110px 0px 70px;
  font-family: "Muller Light";
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #7b7b7b;
}
.contacts__list {
  display: flex;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.telephone__link {
  color: #ffffff;
  font-family: "Muller Ultra Light";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}
.telephone__link span {
  font-size: 40px;
}

/*--------------SLIDER ----------------------------------------------------------------------------------*/

.main-page__slider {
  margin: 25px 0px 0px 0px;
}
.slider {
}
.slider__container {
}
.slider__main {
  position: relative;
  max-width: 750px;
  
}
.slider__main img {
  object-fit: cover;
  
}
.slider__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 38px 45px;
}
.slider__item {
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  position: relative;
  
}
.slider__title {
  font-family: "Muller Bold";
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 16px ;
}
.slider_text {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 45px;
}
.slider__button {
  display: block;
  width: 165px;
  height: 53px;
  color: #4e4e4e;
  background-color: #ffffff;
  font-family: "Muller Medium";
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;
  font-style: normal;
  letter-spacing: 1.4px;
  line-height: normal;
  padding: 19px 0px;
}

.previous, .next {
  cursor: pointer;
  position: absolute;
  top: 151px;
  font-weight: bold;
  font-size: 16px;
  padding: 24px 14px 26px 10px;
  width: 33px;
  height: 64px;
  
  color: #ffffffad;
  transition: 0.6s ease;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;

}
.next {
  right: 0;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  padding: 24px 9px 26px 15px;
}
.previous:hover,
.next:hover {
  background-color: #4e4e4e9a;
  color: #40ced2;
}

.item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
      opacity: 0.4
  }
  to {
      opacity: 1
  }
}