@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url(../../fonts/segoeUI/SegoeUI-Light.ttf) format("truetype");
  src: url(../../fonts/segoeUI/SegoeUI-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Regular";
  src: url(../../fonts/muller/MullerRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Medium";
  src: url(../../fonts/muller/MullerMedium.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Light";
  src: url(../../fonts/muller/MullerLight.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Ultra Light";
  src: url(../../fonts/muller/MullerUltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Bold";
  src: url(../../fonts/muller/MullerBold.ttf) format("truetype");
}

@import "nullstyle.scss";

$width-site: 1170px;

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-page {
  flex: 1 1 auto;
}

.container {
  max-width: $width-site;
  margin: 0 auto;
  padding: 0 15px;
}

/* ------------------------------Header------------------------------------ */

.top_header {
  background-color: rgb(81, 81, 81);
  box-shadow: 0px 10px 25px 0px rgba(81, 81, 81, 0.3);
  margin-bottom: 41px;
  .menu {
    display: flex;
    height: 41px;
    justify-content: space-between;
    align-items: center;
    margin: 0 83px;
    flex-wrap: wrap;
    .menu_item {
      font-size: 14px;
      font-family: "Segoe UI";
      color: rgba(255, 255, 255, 0.302);
      line-height: 1.2;
      text-align: right;
    }
    .menu_dot {
      width: 2px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.302);
      margin-left: 15px;
      margin-right: 15px;
    }
    .menu_item:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
  .info_item_logo {
    width: 68px;
  }
  .info_item_logo_img {
    width: 68px;
    height: 141px;
    position: absolute;
    top: -75px;
    left: 0;
  }
  .info_item_title {
    font-size: 26px;
    font-family: "Muller Regular";
    color: rgb(78, 78, 78);
    line-height: 1.2;
    text-align: right;
  }
  .info_item_subtitle {
    font-size: 14px;
    font-family: "Segoe UI";
    color: rgb(141, 143, 140);
    line-height: 1.2;
    text-align: right;
  }
  .info_item_search {
    height: 100%;
    width: 292px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 10px 25px 0px rgba(167, 167, 167, 0.2);
    .input {
      font-size: 14px;
      font-family: "Muller Regular";
      color: rgb(127, 127, 127);
      position: absolute;
      top: 17px;
      left: 28px;
    }
    input::-webkit-input-placeholder {
      line-height: normal !important;
    }
    .search {
      position: absolute;
      top: 15px;
      right: 17px;
      width: 18px;
      height: 18px;
    }
  }
  .info_item_search:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(64, 206, 210);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
  }
  .info_item_city {
    display: flex;
    flex-direction: column;
    .info_item_city_box {
      display: flex;
      align-items: center;
      .info_item_city_text {
        font-size: 12px;
        font-family: "Segoe UI";
        color: rgb(166, 166, 166);
        line-height: 1.2;
        margin-right: 6px;
        margin-bottom: 4px;
      }
      .info_item_city_line {
        height: 1px;
        width: 100px;
        background-color: rgb(135, 135, 135);
        opacity: 0.2;
      }
      .info_item_city_select {
        font-size: 14px;
        font-family: "Segoe UI";
        color: rgb(127, 127, 127);
        line-height: 1.2;
        width: 100%;
      }
    }
    .pointer {
      width: 14px;
      height: 19px;
      margin-right: 17px;
    }
  }
  .info_item_phone {
    align-items: baseline;
    padding-top: 10px;
    .phone {
      margin-right: 9px;
      width: 10px;
      height: 29px;
    }
    .info_item_phone_text {
      font-size: 20px;
      font-family: "Muller Ultra Light";
      color: rgb(72, 71, 71);
      margin-right: 10px;
    }
    .info_item_phone_text span {
      font-size: 40px;
      font-family: "Muller Ultra Light";
      color: rgb(72, 71, 71);
    }
  }
  .info_item_basket {
    width: 68px;
    position: relative;
    .info_item_basket_back {
      background-color: rgb(64, 206, 210);
      box-shadow: 0px 10px 25px 0px rgba(64, 206, 210, 0.2);
      border-radius: 0 0 5px 5px;
      width: 68px;
      height: 122px;
      position: absolute;
      top: -107px;
      .info_item_basket_text {
        font-size: 12px;
        font-family: "Segoe UI";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;
        transform: rotateZ(90deg);
        text-align: right;
        margin-left: -30px;
      }
      .info_item_basket_img {
        position: absolute;
        top: 84px;
        left: 15px;
      }
    }
    .info_item_basket_number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      position: absolute;
      font-size: 12px;
      font-family: "Muller Bold";
      color: rgb(72, 71, 71);
      line-height: 1.2;
      text-align: center;
      top: 70px;
      left: 31px;
      padding-top: 8px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .top_header {
    margin-bottom: 20px;
  }
  .menu {
    height: 82px !important;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu_dot:nth-child(4) {
    display: none;
  }
  .menu_dot:nth-child(8) {
    display: none;
  }
  .menu_dot:nth-child(12) {
    display: none;
  }
  .info:not(.info_item_basket) {
    flex-flow: wrap;
    .info_item_logo_img {
      top: -95px;
    }
    .info_item_logo_text {
      display: none;
    }
    .info_item_search {
      width: 220px;
      margin-left: 10px;
    }
    .info_item_city {
      margin: 0 10px;
    }
    .info_item_phone {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 0;
      .phone {
        margin-top: 5px;
      }
      .info_item_phone_text {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-family: "Muller Ultra Light";
        color: rgb(72, 71, 71);
        margin-right: 10px;
      }
      .info_item_phone_text span {
        font-size: 30px;
        font-family: "Muller Ultra Light";
        color: rgb(72, 71, 71);
      }
    }
    .info_item_basket_back {
      top: -127px;
    }
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .top_header {
    margin-bottom: 20px;
  }
  .menu {
    margin-left: 0 !important;
    height: 82px !important;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu_dot:nth-child(4) {
    display: none;
  }
  .menu_dot:nth-child(8) {
    display: none;
  }
  .menu_dot:nth-child(12) {
    display: none;
  }
  .info:not(.info_item_basket) {
    .info_item_logo {
      display: none;
    }
    .info_item_logo_text {
      display: none;
    }
    .info_item_search {
      width: 50%;
      margin-left: 10px;
    }
    .info_item_city {
      margin: 0 10px;
      width: 50%;
    }
    .info_item_phone {
      display: none;
      .phone {
        margin-top: 5px;
      }
      .info_item_phone_text {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-family: "Muller Ultra Light";
        color: rgb(72, 71, 71);
        margin-right: 10px;
      }
      .info_item_phone_text span {
        font-size: 30px;
        font-family: "Muller Ultra Light";
        color: rgb(72, 71, 71);
      }
    }
    .info_item_basket_back {
      top: -87px;
    }
  }
}

/* ------------------------------Categories------------------------------------ */

.categories {
  display: flex;
  margin-top: 48px;
  margin-bottom: 48px;
  justify-content: space-between;
  flex-wrap: wrap;
  .categories_item {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(225, 244, 245);
    border-radius: 4px;
    box-shadow: 0px 10px 25px 0px rgba(167, 167, 167, 0.2);
    width: 151px;
    height: 81px;
    display: flex;
    flex-direction: column;
    position: relative;
    .categories_item_text {
      font-size: 14px;
      font-family: "Muller Medium";
      color: rgb(78, 78, 78);
      line-height: 1.2;
      padding-left: 15px;
      padding-top: 15px;
    }
    .categories_item_img {
      position: absolute;
      z-index: 1;
      top: 27px;
      right: 13px;
    }
    .categories_item_img_border {
      width: 20px;
      height: 20px;
      position: absolute;
      bottom: 0px;
    }
  }
}
.categories_link:hover {
  .categories_item {
    background-color: rgb(64, 206, 210);
    .categories_item_text {
      color: white;
    }
    .categories_item_img {
      filter: invert(100%);
    }
  }
}
/*----------------ABOUT--------------------------------------------------------------------------*/

.about {
  text-align: center;
  margin: 75px 0;
  .about_header {
    margin-bottom: 24px;
    font-size: 22px;
    font-family: "Muller Medium";
    color: rgb(78, 78, 78);
    line-height: 1.2;
    text-align: center;
  }
  .about_text {
    font-size: 16px;
    font-family: "Segoe UI";
    color: rgb(173, 173, 173);
    line-height: 1.2;
    padding: 0 40px;
    margin-bottom: 24px;
  }
  .about_box {
    display: flex;
    .about_item {
      display: flex;
      align-items: center;
      position: relative;
      .about_item_number {
        font-size: 98px;
        font-family: "Muller Bold";
        color: rgba(78, 78, 78, 0);
        line-height: 1.2;
        text-align: left;
        text-shadow: 0px 10px 25px rgba(81, 81, 81, 0.11);
        margin-right: 25px;
        z-index: 1;
      }
      .about_item_number_back {
        position: absolute;
        left: -22px;
        height: 160px;
        width: 160px;
        z-index: 0;
      }
      .about_item_text {
          font-size: 13.708px;
          font-family: "Muller Medium";
          color: rgb(78, 78, 78);
          line-height: 1.2;
          text-align: left;
      }
    }
  }
}

/*----------------FOOTER-------------------------------------------------------------------------*/
.footer {
  width: 100%;
  height: 167px;
  background: #515151;
}
.fmenu {
  padding: 29px 0px 10px 0px;
}
.fmenu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fmenu__link {
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.3;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.fmenu__link:hover {
  color: #fff;
  opacity: 0.9;
}
.menu_dot {
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.302);
}

.footer__contacts {
  position: relative;
}
.contacts__row {
  min-height: 100%;
  display: flex;
  padding: 40px 0px 0px 0px;
}

.contacts__list {
  flex: 1 1 auto;
}
.contacts__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.contacts__logo {
  position: absolute;
  left: 0;
  top: 0;
}
.contacts__info {
  margin: 0px 110px 0px 70px;
  font-family: "Muller Light";
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  color: #7b7b7b;
}
.contacts__list {
  display: flex;
  color: #ffffff;
  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.telephone__link {
  color: #ffffff;
  font-family: "Muller Ultra Light";
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: left;
}
.telephone__link span {
  font-size: 40px;
}

/*--------------SLIDER ----------------------------------------------------------------------------------*/

.main-page__slider {
  margin: 44px 0px 0px 0px;
}
.slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.slider__main {
  position: relative;
  max-width: 750px;
}
.slider__main img {
  object-fit: cover;
}
.slider__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 38px 45px;
}
.slider__item {
  color: #ffffff;
  font-style: normal;
  letter-spacing: normal;
  position: relative;
}
.slider__title {
  font-family: "Muller Bold";
  font-size: 28px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 16px;
}
.slider_text {
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 45px;
}
.slider__button {
  display: block;
  width: 165px;
  height: 53px;
  color: #4e4e4e;
  background-color: #ffffff;
  font-family: "Muller Medium";
  font-size: 14px;
  font-weight: 400;
  border-radius: 4px;
  text-align: center;
  font-style: normal;
  letter-spacing: 1.4px;
  line-height: normal;
  padding: 19px 0px;
}

.previous,
.next {
  cursor: pointer;
  position: absolute;
  top: 151px;
  font-weight: bold;
  font-size: 16px;
  padding: 24px 14px 26px 10px;
  width: 33px;
  height: 64px;

  color: #ffffffad;
  transition: 0.6s ease;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}
.next {
  right: 0;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  padding: 24px 9px 26px 15px;
}
.previous:hover,
.next:hover {
  background-color: #4e4e4e9a;
  color: #40ced2;
}

.item {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.vacctination {
  position: relative;
}
.vacctination img {
  object-fit: cover;
}

.vacctination__info {
  padding: 19px 23px;
  position: absolute;
  top: 0;
  left: 0;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.vacctination__title {
  color: #4e4e4e;
  font-family: "Muller Regular";
  font-size: 16px;
  font-weight: 400;
}
.vacctination__sale {
  margin-top: 13px;
  width: 71px;
  height: 34px;
  border-radius: 4px;
  background-color: #40ced2;
  color: #ffffff;
  font-family: "Muller Bold";
  font-size: 16px;
  font-weight: 400;
  padding: 8px 9px 12px 12px;
}
.vacctination__text {
  margin-top: 35px;
  color: #9e9e9e;
  font-family: "Segoe UI";
  font-size: 12px;
  font-weight: 300;
}

.haircut {
  position: relative;
}
.haircut__text {
  position: absolute;
  top: 59px;
  left: 196px;
  color: #4e4e4e;
  font-family: "Muller Regular";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
