@font-face {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  src: url(../../fonts/segoeUI/SegoeUI-Light.ttf) format("truetype");
  src: url(../../fonts/segoeUI/SegoeUI-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Regular";
  src: url(../../fonts/muller/MullerRegular.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Medium";
  src: url(../../fonts/muller/MullerMedium.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Light";
  src: url(../../fonts/muller/MullerLight.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Ultra Light";
  src: url(../../fonts/muller/MullerUltraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Muller Bold";
  src: url(../../fonts/muller/MullerBold.ttf) format("truetype");
}

@import "nullstyle.scss";

$width-site: 1170px;

.wrapper {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-page {
  flex: 1 1 auto;
}

.container {
  max-width: $width-site;
  margin: 0 auto;
  padding: 0 15px;
}

.top_header {
  background-color: rgb(81, 81, 81);
  box-shadow: 0px 10px 25px 0px rgba(81, 81, 81, 0.3);
  margin-bottom: 41px;
  .menu {
    display: flex;
    height: 41px;
    justify-content: space-between;
    align-items: center;
    margin: 0 83px;
    flex-wrap: wrap;
    .menu_item {
      font-size: 14px;
      font-family: "Segoe UI";
      color: rgba(255, 255, 255, 0.302);
      line-height: 1.2;
      text-align: right;
    }
    .menu_dot {
      width: 2px;
      height: 2px;
      background-color: rgba(255, 255, 255, 0.302);
    }
    .menu_item:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: relative;
  .info_item_logo {
    width: 68px;
  }
  .info_item_logo_img {
    width: 68px;
    height: 141px;
    position: absolute;
    top: -75px;
    left: 0;
  }
  .info_item_title {
    font-size: 26px;
    font-family: "Muller Regular";
    color: rgb(78, 78, 78);
    line-height: 1.2;
    text-align: right;
  }
  .info_item_subtitle {
    font-size: 14px;
    font-family: "Segoe UI";
    color: rgb(141, 143, 140);
    line-height: 1.2;
    text-align: right;
  }
  .info_item_search {
    height: 100%;
    width: 292px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0px 10px 25px 0px rgba(167, 167, 167, 0.2);
    .input {
      font-size: 14px;
      font-family: "Muller Regular";
      color: rgb(127, 127, 127);
      position: absolute;
      top: 17px;
      left: 28px;
    }
    input::-webkit-input-placeholder {
      line-height: normal !important;
    }
    .search {
      position: absolute;
      top: 15px;
      right: 17px;
      width: 18px;
      height: 18px;
    }
  }
  .info_item_search:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(64, 206, 210);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
  }
  .info_item_city {
    display: flex;
    flex-direction: column;
    .info_item_city_box {
      display: flex;
      align-items: center;
      .info_item_city_text {
        font-size: 12px;
        font-family: "Segoe UI";
        color: rgb(166, 166, 166);
        line-height: 1.2;
        margin-right: 6px;
        margin-bottom: 4px;
      }
      .info_item_city_line {
        height: 1px;
        width: 100px;
        background-color: rgb(135, 135, 135);
        opacity: 0.2;
      }
      .info_item_city_select {
        font-size: 14px;
        font-family: "Segoe UI";
        color: rgb(127, 127, 127);
        line-height: 1.2;
        width: 100%;
      }
    }
    .pointer {
      width: 14px;
      height: 19px;
      margin-right: 17px;
    }
  }
  .info_item_phone {
    align-items: baseline;
    padding-top: 10px;
    .phone {
      margin-right: 9px;
      width: 10px;
      height: 29px;
    }
    .info_item_phone_text {
      font-size: 20px;
      font-family: "Muller Ultra Light";
      color: rgb(72, 71, 71);
      margin-right: 10px;
    }
    .info_item_phone_text span {
      font-size: 40px;
      font-family: "Muller Ultra Light";
      color: rgb(72, 71, 71);
    }
  }
  .info_item_basket {
    width: 68px;
    position: relative;
    .info_item_basket_back {
      background-color: rgb(64, 206, 210);
      border-radius: 0 0 5px 5px;
      width: 68px;
      height: 122px;
      position: absolute;
      top: -107px;
      .info_item_basket_text {
        font-size: 12px;
        font-family: "Segoe UI";
        color: rgb(255, 255, 255);
        line-height: 1.2;
        text-align: left;
        transform: rotateZ(90deg);
        text-align: right;
        margin-left: -30px;
      }
      .info_item_basket_img {
        position: absolute;
        top: 84px;
        left: 15px;
      }
    }
  }
}
